
<header><img src="/src/images/logo.jpg" width="30%" height="30%"/></header>

<nav>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="/">Conférences</a></li>
        <li role="presentation"><a href="/#sessions-list">Sessions</a></li>
        <li role="presentation"><a href="/#speakers-list">Presentateurs</a></li>
    </ul>
</nav>

<section id="main-view">
    <!-- Ici le contenu principal en attente de chargement -->
</section>

<footer>© Copyright : Pierre-Antoine Martin</footer>